# Python Basics

Introduction

In [ ]:
->Introduced by guido van russom in 1991
->Python is a general purpose high level programming language
->Python supports both oops and pops
->OOPs--->Object oriented programming------->based on class and object
----4 pillers Oops are
------->Encapsulation,Polymorphism,Inheritance,Abstraction
->POPs--->Procedural oriented programming---->based on functions
->Syntax-->is grammer for any programming language or it is a format that has to be followed while writing a code
->Keywords--->are certain words which have a predefined meaning in python or inbuilt words
eg: import,def,for,class,True,False,while,return,etc
->inbuilt functions---->the block of code which has a predefined task to perform
eg:print(),len(),type(),range(),append(),pop(),insert(),remove(),max(),etc
->case sensitive language-->uppercase and lowercase will not be same
->Indentation--->spaces

In [1]:
print("Hello!")

Hello!

In [2]:
print('Python')

Python

In [3]:
a='''fghdsgfhhjgdhlshfjsd
jjksfffffffffffffffgjk
jkgggggggggj'''

In [4]:
a

'fghdsgfhhjgdhlshfjsd\njjksfffffffffffffffgjk\njkgggggggggj'

In [5]:
print("anu's")

anu's

In [8]:
import keyword
a=keyword.kwlist
print(a)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
len(a)

36

In [12]:
a=10
print(A)

NameError: name 'A' is not defined

In [15]:
if a>6:
    print(a)
else:
    print("invalid")

10

# Variable

->a storage container which holds some data
->a memory location which will be assigned with some data or information or content
-> = assignment operator, to assign values to the variable
#syntax

variable_name = value/content/data/info

->literal--->the value or information that will be assigned to the variable

In [16]:
D = 100

In [17]:
print(D)

100

In [18]:
type(D)

int

In [32]:
k = "apple"
print(k)

apple

In [21]:
type(k)

str

#Rules
->Variable name can start with letter or underscore(_) but never starts with numbers
->Keywords cannot be used as a variable name
->No special characters or symbols will be allowed except underscore(_) in a variable name

In [22]:
2d=50
print(2d)

SyntaxError: invalid syntax (1817577028.py, line 1)

In [23]:
d2=20
print(d2)

20

In [24]:
_g_k=4000
print(_g_k)

4000

In [25]:
def=45.9
print(def)

SyntaxError: invalid syntax (473732423.py, line 1)

In [26]:
if=38
print(if)

SyntaxError: invalid syntax (2319899328.py, line 1)

In [27]:
f$=60

SyntaxError: invalid syntax (3872682215.py, line 1)

In [28]:
@h=80

SyntaxError: invalid syntax (851534646.py, line 1)

In [29]:
_j=80

In [30]:
#g=10

In [31]:
g#=10

NameError: name 'g' is not defined

In [33]:
#Assigning the values to the variable
#static way--->data is assigned manually while typing the program
#Dynamic way(user defined)-->data will be assigned during the run time of the program
#syntax of dynamic way

variable_name=input()

In [4]:
a=10
print(a)

10

In [10]:
a1=input()   #string data

50

In [11]:
print(a1)

50

In [12]:
type(a1)

str

#type casting---->converting one data type into another data type
input()------>string
input()--->int(input())------------>str--->int

In [18]:
b=int(input("Enter the value b:"))

Enter the value b:100

In [19]:
print(b)

100

In [20]:
type(b)

int

In [35]:
c=float(input("enter the data:"))

enter the data:6

In [36]:
print(c)

6.0

In [26]:
type(c)

float

In [30]:
d=bool(input("enter the data:"))

enter the data:

In [31]:
print(d)

False

In [32]:
type(d)

bool

# Data types

In [37]:
#type of data the variable has been assigned with

#two types of data types

#1--->Basic/universal data type----->int, float, bool, string

#2--->collective data type--->collection of values or information we can able to store it in a single variable
#                   a--------->Mutable data type--->info or value in a collection can be changed after the declaration
#-------------------------------------------------->list,dict,set
#                   b--------->Immutable data type--->info or value in a collection cannot be changed after the declaration
#--------------------------------------------------->string,tuple

In [38]:
P=10,30,89.85,True,False,'python',200,45.8

In [39]:
print(P)

(10, 30, 89.85, True, False, 'python', 200, 45.8)

In [40]:
type(P)

tuple

In [ ]:
#Immutable data types

#Tuple---->Tuple is a collective data types, we can able to store all heterogeneous values(different data types)

#syntax

variable_name=(values)

or 

variable_name=values

In [41]:
T=(10,30.8,46,89,'cherry')

In [42]:
print(T)

(10, 30.8, 46, 89, 'cherry')

In [43]:
type(T)

tuple

In [55]:
T1=5,9,10,'fine',50.7,"apple"
print(T1)

(5, 9, 10, 'fine', 50.7, 'apple')

In [56]:
type(T1)

tuple

In [52]:
s=(20)

In [53]:
print(s)

20

In [54]:
type(s)

int

In [57]:
s='apple'

In [58]:
print(s)

apple

In [59]:
type(s)

str

In [62]:
T1= 30, 45.5, "apple" ,30
print(T1)

(30, 45.5, 'apple', 30)

In [63]:
type(T1)

tuple

In [64]:
s1='Python programming'

In [65]:
print(s1)

Python programming

In [66]:
type(s1)

str

# Indexing and slicing

#indexing

+ve indexing----->starts with 0 (left to right)
-ve indexing----->starts with -1 (right to left)

#slicing

+ve slicing----->left to right
-ve slicing----->left to right

#index---->positional value of an data inside a collection 
#indexing---->the process of extracting or accessing an individual value from a collection

#indexing syntax

variable_name[index_value/positional_value]

In [2]:
I=30,89,70.6,False,'data'
print(I)

(30, 89, 70.6, False, 'data')

In [3]:
I[1]

89

In [4]:
I[-4]

89

In [5]:
s=45,89,34.9,80

In [6]:
print(s)

(45, 89, 34.9, 80)

In [7]:
s[-2]

34.9

#slicing---->If we want to extract more than one value from the collection 
#----------->accessing multiple values in a sequence from a collection

#syntax of slicing

variable_name[start_index:end_index+1]

In [12]:
print(I)

(30, 89, 70.6, False, 'data')

In [13]:
I[0:4]

(30, 89, 70.6, False)

In [14]:
I[1:5]

(89, 70.6, False, 'data')

In [15]:
I[1:]

(89, 70.6, False, 'data')

In [16]:
I[0:3]

(30, 89, 70.6)

In [17]:
I[:3]

(30, 89, 70.6)

In [18]:
#variable_name[start_index:end_index+1:step_length+1]

In [19]:
I[:]

(30, 89, 70.6, False, 'data')

In [20]:
I[::1]

(30, 89, 70.6, False, 'data')

In [21]:
I[::2]

(30, 70.6, 'data')

In [22]:
I[1::3]

(89, 'data')

In [23]:
print(I)

(30, 89, 70.6, False, 'data')

In [24]:
I[-5:-2]

(30, 89, 70.6)

In [25]:
I[-5:]

(30, 89, 70.6, False, 'data')

In [26]:
#Immutable data types

In [27]:
t1=(5,8,10,'abc',False,9.67)
print(t1)

(5, 8, 10, 'abc', False, 9.67)

In [28]:
t1[2]

10

In [29]:
t1[2]=100

TypeError: 'tuple' object does not support item assignment

In [30]:
t1[-3]

'abc'

In [31]:
t1[-3]='efg'

TypeError: 'tuple' object does not support item assignment

In [32]:
s1="Python"
print(s1)

Python

In [33]:
s1[0]

'P'

In [37]:
s1[0]='H'

TypeError: 'str' object does not support item assignment

In [34]:
s1[-2]

'o'

In [35]:
s1[-5]

'y'

In [36]:
s1[-5]='l'

TypeError: 'str' object does not support item assignment

In [38]:
#Mutable

#list

#syntax

variable_name=[values]

In [39]:
l1=[56,90.67,45,'diversity',False,True,20]
print(l1)

[56, 90.67, 45, 'diversity', False, True, 20]

In [40]:
type(l1)

list

In [41]:
l1[1]

90.67

In [42]:
l1[1]='Divya'

In [43]:
print(l1)

[56, 'Divya', 45, 'diversity', False, True, 20]

In [44]:
l1[3]=200

In [45]:
print(l1)

[56, 'Divya', 45, 200, False, True, 20]

In [46]:
l1.append(57)

In [47]:
print(l1)

[56, 'Divya', 45, 200, False, True, 20, 57]

In [48]:
l2=[1,2,3]

In [49]:
l1.append(l2)

In [50]:
print(l1)

[56, 'Divya', 45, 200, False, True, 20, 57, [1, 2, 3]]

In [51]:
l1.insert(2,'java')  #variable_name.insert(index_no,value)

In [52]:
print(l1)

[56, 'Divya', 'java', 45, 200, False, True, 20, 57, [1, 2, 3]]

In [53]:
#dictionary

set of heterogenous values, store the values in a key:value pair

#syntax

variable_name={key1:value1, key2:value2, key3:value3, . . . . .}

In [54]:
D1={10:'Aditya','pooja':'intellipaat',10.5:30000}
print(D1)

{10: 'Aditya', 'pooja': 'intellipaat', 10.5: 30000}

In [55]:
D1.keys()

dict_keys([10, 'pooja', 10.5])

In [56]:
D1.values()

dict_values(['Aditya', 'intellipaat', 30000])

In [57]:
D1.items()

dict_items([(10, 'Aditya'), ('pooja', 'intellipaat'), (10.5, 30000)])

In [58]:
D1['pooja']

'intellipaat'

In [59]:
D1[10]

'Aditya'

In [60]:
D1['Aditya']

KeyError: 'Aditya'

In [61]:
D1[10]

'Aditya'

In [62]:
D1[10]='sandeep'

In [63]:
print(D1)

{10: 'sandeep', 'pooja': 'intellipaat', 10.5: 30000}

In [66]:
D1['e_id']=[15,40,20]

In [67]:
print(D1)

{10: 'sandeep', 'pooja': 'intellipaat', 10.5: 30000, 'e_id': [15, 40, 20]}

In [68]:
D1.pop('e_id')

[15, 40, 20]

In [69]:
print(D1)

{10: 'sandeep', 'pooja': 'intellipaat', 10.5: 30000}

In [70]:
#set

->unordered,unindexed list of unique values

->set is used to remove the duplicates

#syntax

variable_name={values}

In [72]:
S={1,67,7.8,2,'john',1,89.45,67,'sam','john',67,7.8,False,2}
print(S)

{False, 1, 2, 67, 'sam', 7.8, 'john', 89.45}

In [73]:
S.add(30)

In [74]:
print(S)

{False, 1, 2, 67, 'sam', 7.8, 'john', 89.45, 30}

In [75]:
S.remove('sam')

In [76]:
print(S)

{False, 1, 2, 67, 7.8, 'john', 89.45, 30}

# Conditional statements

->statements executed based on the condition is satisfied
->statements that are used to evaluate a condition is true or false

#simple if--->we will write a single condition and only true statement

#syntax

if condition:
    statement/task

In [78]:
a=int(input("enter the data:"))
if a<10:
    print("a is a lesser number than 10")

enter the data:36

#if else

#syntax

if condition:
    True statement
else:
    False statement

In [80]:
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
if(x==y):
    print("equal")
else:
    print("not equal")

enter the value of x:6
enter the value of y:9
not equal

#if elif else

#elif--->else+if

#syntax

if condition1:
    statement1
elif condition2:
    statement2
elif condition3:
    statement3
.
.
.
else:
    statement n

In [82]:
a = 200
b = 33
if a > b:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

# Looping statements

->statements that will allow to perform the same set of task multiple number of times based on condition

#for loop--->range(start,end+1)

#syntax

for iteratable_variable in range():
    statement/task
    
    
#while loop

#syntax

iteratable_variable=initialize
while(condition):
    task/statement
    increment/decrement

In [83]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

In [84]:
l=[1,7,4,6]
for i in l:
    print(i)

1
7
4
6

In [87]:
i=1
while (i<=8):
    print("Python",i)
    i=i+2

Python 1
Python 3
Python 5
Python 7