# variable

variab;e is the memory location wher we can store the values 2 ways to assign a variable
1>single variable
2>multiple variable

In [2]:
print("hell word") #The print() function prints the specified message to the screen, or other standard output device.

hell word

In [3]:
name='Madhu'  #String literals can be enclosed by either double or single quotes

In [4]:
print(name)

Madhu

In [6]:
type(name)   #String literals can be enclosed by either double or single quotes

str

Strings and tuples are immutable(can not be changed the data), while lists, dictionaries, and sets are mutable.

In [13]:
print("Madhu"+"sudan"+' D' ' P')

Madhusudan D P

In [14]:
#single variable
age=27

Rules for Python variables:
A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [20]:
#multiple variable
a=b=c=10

x,y,z=10,20,30

q=r=d="madhu"

In [17]:
a

10

In [18]:
x

10

In [21]:
r

'madhu'

python tokens

Python breaks each logical line into a sequence of elementary lexical components known as tokens
1>kewords
2>identifiers
3>literals
4>operators

1>kewords
special reserved words that have specific meanings and purposes and can't be used for anything but those specific purposes.
never used as variable
some of keywords are
Value Keywords: True, False, None.
Operator Keywords: and, or, not, in, is.
Control Flow Keywords: if, elif, else.
Iteration Keywords: for, while, break, continue, else.
Structure Keywords: def, class, with, as, pass, lambda.
Returning Keywords: return, yield.
Import Keywords: import, from, as.

2>identifiers
They are created to give a unique name to an entity to identify it during the execution of the program. For example: int money; double accountBalance; Here, money and accountBalance are identifiers

3>literals
Literals in Python is defined as the raw data assigned to variables or constants while programming. We mainly have five types of literals which includes 
string literals, 
numeric literals, 
boolean literals, 
literal collections and a 
special literal None

In [23]:
#string literal
Name="madhusudan d p"

In [24]:
sigle='a'

In [25]:
#long strings
poem='''ಸುಜ್ಞಾನದ ದೀವಿಗೆಯು ಕಂಗೊಳಿಸುತ್ತಿರಲು, ಕೈ ಬೀಸಿತು ಬೆಳಕು ತನ್ನಯ ಹೊಸಲಿಗೆ ಬರಲು ಶಿರವ ತಗ್ಗಿಸಿ, ಕರವ ಜೋಡಿಸಿ - ಜ್ಞಾನವ ಅರಸಿ ಬಂದ ಯಾತ್ರಿಕರು ನಾವು! ನೂರಾರು ಕನಸ'''

In [26]:
poem

'ಸುಜ್ಞಾನದ ದೀವಿಗೆಯು ಕಂಗೊಳಿಸುತ್ತಿರಲು, ಕೈ ಬೀಸಿತು ಬೆಳಕು ತನ್ನಯ ಹೊಸಲಿಗೆ ಬರಲು ಶಿರವ ತಗ್ಗಿಸಿ, ಕರವ ಜೋಡಿಸಿ - ಜ್ಞಾನವ ಅರಸಿ ಬಂದ ಯಾತ್ರಿಕರು ನಾವು! ನೂರಾರು ಕನಸ'

In [27]:
line='''Today is the anniversary of the publication of Robert Frost’s iconic poem “Stopping by Woods on a Snowy Evening,” a fact that spurred the Literary Hub office into a long conversation about their favorite poems
NB that I limited myself to one poem per poet—which means that the impetus for this list actually gets bumped for the widely quoted (and misunderstood) “The Road Not Taken,” but so it goes. I also excluded book-length poems, because they’re really a different form.
'''

In [28]:
line

'Today is the anniversary of the publication of Robert Frost’s iconic poem “Stopping by Woods on a Snowy Evening,” a fact that spurred the Literary Hub office into a long conversation about their favorite poems\nNB that I limited myself to one poem per poet—which means that the impetus for this list actually gets bumped for the widely quoted (and misunderstood) “The Road Not Taken,” but so it goes. I also excluded book-length poems, because they’re really a different form.\n'

# Python Operators

In [ ]:
#Operators are used to perform operations on variables and values.

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Arithmetic operators
Operator	        Name	Example
+	Addition	    x + y	
-	Subtraction   	x - y	
*	Multiplication	x * y	
/	Division	    x / y	
%	Modulus	        x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y   its same like division  but its not have floating values

In [33]:
21/2

10.5

# Assignment operators

Operator	Example	     Same As	
=	        x = 5	     x = 5	
+=	        x += 3	     x = x + 3	
-=	        x -= 3	     x = x - 3	
*=	        x *= 3	     x = x * 3	
/=	        x /= 3	     x = x / 3	
%=	        x %= 3	     x = x % 3	
//=	        x //= 3	     x = x // 3	
**=      	x **= 3	     x = x ** 3	
&=	        x &= 3	     x = x & 3	
|=	        x |= 3	     x = x | 3	
^=	        x ^= 3	     x = x ^ 3	
>>=	        x >>= 3	     x = x >> 3	
<<=	        x <<= 3	     x = x << 3

In [60]:
x=5
x+=3
x-=2
x*=2
x/=3
x%=3
x//=1
x**=100
x=int(x)
x &=3
x|=3
x
x^=3
x>>=3
x
x<<=3
x

0

# Comparison operators

Operator	  Name	                    Example	
==	          Equal	                    x == y	
!=	          Not equal	                x != y	
>	          Greater than	            x > y	
<	          Less than	                x < y	
>=	          Greater than or equal to	x >= y	
<=	          Less than or equal to	    x <= y

In [62]:
x==x

True

In [65]:
5!=5

True

In [66]:
x>y

False

In [67]:
8>2

True

In [68]:
123<856

True

In [69]:
x>=x

True

In [70]:
2^2

0

In [71]:
1^2

3

# Python Logical Operators

Operator	Description	
and 	    Returns True if both statements are true	                 x < 5 and  x < 10	
or	        Returns True if one of the statements is true	             x < 5 or x < 4	
not	        Reverse the result, returns False if the result is true	     not(x < 5 and x < 10)

In [88]:
x=10
x>5 or x<10

True

# Python Bitwise Operators

Operator	Name	     Description	                                     Example	
& 	        AND	         Sets each bit to 1 if both bits are 1	              x & y	

|	        OR	         Sets each bit to 1 if one of two bits is 1	          x | y	

^	        XOR	         Sets each bit to 1 if only one of two bits is 1	  x ^ y	

~	        NOT	         Inverts all the bits	~x	

<<	        Zero fill    Shift left by pushing zeros in from 
            left shift   the right and let the leftmost bits fall off	       x << 2
            	
>>	      Signed right   Shift right by pushing copies of the leftmost bit in from the left, and let                shift       the rightmost bits fall off	                          x >> 2

0  & 0 -->0 
0  & 1 -->0          and operator 
1  & 0 -->0
1  & 1 -->1
____________________
0  | 0 -->0 
0  | 1 -->1          OR  operator 
1  | 0 -->1
1  | 1 -->1
_____________________
0  ^ 0 -->0 
0  ^ 1 -->1          XOR  operator 
1  ^ 0 -->1
1  ^ 1 -->0

In [100]:
~(2 ^ 1)

-4

In [109]:
3>>5

0

In [106]:
88945>>10

86

# Operator Precedence

Operator precedence describes the order in which operations are performed.

The precedence order is described in the table below, starting with the highest precedence at the top:
    
Operator	        Description	Try it
()	                Parentheses	
**	                Exponentiation	
+x  -x  ~x	        Unary plus, unary minus, and bitwise NOT	
*  /  //  %	        Multiplication, division, floor division, and modulus	
+  -	            Addition and subtraction	
<<  >>	            Bitwise left and right shifts	
&	                Bitwise AND	
^	                Bitwise XOR	
|	                Bitwise OR	
==  !=  >  >=  <  
<=  is  is not  in  Comparisons, identity, and membership operators
not in 	            Comparisons, identity, and membership operators	

not	               ogical NOT	
and	                AND	
or	                 OR

In [110]:
print(5 + 4 - 7 + 3)
#Addition + and subtraction - has the same precedence, 
#and therefor we evaluate the expression from left to right:

5

In [111]:
print(100 + 5 * 3)

115

# Python Identity Operators

Operator  	Description                                        	    Example	Try it

is        	Returns True if both variables are the same object	     x is y	

is not     	Returns True if both variables are not the same object	  x is not y

# DATA TYPES IN PYTHON

2 types

1>immutable (data can not be change)-->1.stings , 2.numbers,   3.tuple

2>mutable (data can be changed)------->1.list,    2.sets,      3.dictionaries

In [137]:
#  numbers
#  3 types --> int, float, complex 
num=123
num1=-2315
type(num)         # --->interger

fnum=12.25
type(fnum)        # ---->floats

com=6j          #----> Complex numbers are the numbers that are expressed 
                 #  in the form of a+ib where, a,b are real numbers and 'i' is an imaginary 
                #     number called “iota”. The value of i = (√-1). For example 2+3i is a 
               #     complex number, where 2 is a real number (Re) and 3i is an imaginary number 
type(com)

z=complex(x,y)   #-->(10+20j)

z
type(z)

(10+20j)

In [127]:
num=123
num1=-2315
type(num1)

int

# stings

In [ ]:
--> String is a collection of alphabets, words or other characters.used to store the text files

In [144]:
str="abcdefghijklmnopqrstuvwxyz"

In [145]:
len(str)

26

In [146]:
str[0]

'a'

In [153]:
str[0:7]

'abcdefg'

In [156]:
'B' in str

False

In [163]:
str[0:25:2]

'acegikmoqsuwy'

In [164]:
str[25:]

'z'

In [192]:
str.replace('z','m' 'a','c')

TypeError: 'str' object cannot be interpreted as an integer

In [166]:
str

'abcdefghijklmnopqrstuvwxyz'

NameError: name 'count' is not defined

In [168]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [172]:
z="hello ,word"

In [173]:
z[1]

'e'

In [179]:
for x in "hello ,word":
 print(x,end='')

hello ,word

In [180]:
len(z)

11

In [186]:
def remove(z):
    return z.replace(" ", "")

z="hello ,word"
print(remove(z))
len(remove(z))

hello,word

10

In [187]:
print(z)

hello ,word

In [197]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [198]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [199]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [200]:
str[-1]

'z'

In [201]:
str[-25]

'b'

In [222]:
str[0:26]

'abcdefghijklmnopqrstuvwxyz'

In [212]:
str[0:4]

'abcd'

In [224]:
print(str.upper())

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [225]:
print(str.lower())

abcdefghijklmnopqrstuvwxyz

In [226]:
print(str.split(","))

['abcdefghijklmnopqrstuvwxyz']

In [228]:
print(z.split(" "))

['hello', ',word']

In [229]:
z

'hello ,word'

In [230]:
a="my"
b="name"
c="is"
d="madhu"

In [239]:
z=a+' '+b+' '+c+' '+d
print(z.upper())

MY NAME IS MADHU

In [242]:
age=27

In [260]:
boi=z+' my age is 27'
boi

'my name is madhu my age is 27'

In [249]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [257]:
age = 36
txt = "My name is John, I am " 
print(txt)

My name is John, I am

In [261]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [262]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [267]:
txt = 'We are the so-called "Vikings" from the north.'
txt

'We are the so-called "Vikings" from the north.'

In [269]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [270]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [271]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

# Python String Methods

Method	                 Description

capitalize()	         Converts the first character to upper case

casefold()	             Converts string into lower case

center()	             Returns a centered string

count()	                 Returns the number of times a specified value occurs in a string

encode()	             Returns an encoded version of the string

endswith()	              Returns true if the string ends with the specified value

expandtabs()	         Sets the tab size of the string

find()	                 Searches the string for a specified value and returns the position of where 
it was found

format()	            Formats specified values in a string

format_map()	        Formats specified values in a string

index()	                Searches the string for a specified value and returns the position of where it was found

isalnum()	            Returns True if all characters in the string are alphanumeric

isalpha()	           Returns True if all characters in the string are in the alphabet

isascii()	           Returns True if all characters in the string are ascii characters

isdecimal()        	Returns True if all characters in the string are decimals

isdigit()	        Returns True if all characters in the string are digits

isidentifier()   	Returns True if the string is an identifier

islower()	        Returns True if all characters in the string are lower case

isnumeric()	       Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Converts the elements of an iterable into a string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was 
found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

In [276]:
z.count('a')

2

In [277]:
z.count('x')

0

In [282]:
 = "I love apples, apple are my favorite fruit"

x = txt.count("apple",5,20 )

print(x)

2

In [281]:
txt[5:20]

'e apples, apple'

In [285]:
txt.count('a')

4

In [286]:
txt.title()

'I Love Apples, Apple Are My Favorite Fruit'

# Tuple(   ) 
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [287]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [288]:
type(thistuple)

tuple

In [289]:
weeks=("sunday","monday","tuesday","Wednesday ","thursday","friday","Saturday ")

In [290]:
weeks

('sunday',
 'monday',
 'tuesday',
 'Wednesday ',
 'thursday',
 'friday',
 'Saturday ')

In [291]:
type(weeks)

tuple

In [292]:
weeks[1]

'monday'

In [293]:
weeks[5
     ]

'friday'

In [294]:
weeks[0]

'sunday'

# Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [295]:
len(weeks)

7

# Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [301]:
tuple1=("apple",)

In [302]:
type(tuple1)  #--->so if ypu have one item the use cama

tuple

In [303]:
tuple1 = ("abc", 34, True, 40, "male")

In [304]:
type(tuple1)

tuple

In [306]:
type(tuple1[0])

str

In [307]:
type(tuple1[2])

bool

In [308]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [309]:
type(thistuple
    )

tuple

In [318]:
adb=tuple([12,3])

In [319]:
type(adb)

tuple

In [320]:
abc=[1,2,3]

In [321]:
type(abc)

list

In [322]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"              # changing the values in tuple using list
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# 3)list [    ]

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [323]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [324]:
type(thislist)

list

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

In [325]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [326]:
list2 = [1, 5, 7, 9, 3]

In [327]:
len(list2)

5

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

# The list() Constructor

In [328]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [329]:
type(thislist)

list

In [330]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])  #The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [331]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [332]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [333]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [334]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [335]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [336]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [337]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:5] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'mango']

In [338]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python List/Array Methods

append()	Adds an element at the end of the list

clear()     Removes all the elements from the list

copy()	    Returns a copy of the list

count()	    Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	    Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	    Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	    Sorts the list

In [341]:
fruits = ['apple', 'banana', 'cherry']  #--->append
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [343]:
#clear
fruits.clear()
fruits

[]

In [355]:
#copy
x=thislist.copy()

In [346]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
a

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [347]:
a[3]

['Ford', 'BMW', 'Volvo']

In [353]:
a[3][0]

'Ford'

In [354]:
a[3][2]

'Volvo'

In [356]:
x

['apple', 'banana', 'watermelon', 'cherry']

In [357]:
#count()	    Returns the number of elements with the specified value
x.count("banana")

1

In [358]:
x.count("b")

0

In [361]:
#extend()	Add the elements of a list (or any iterable), to the end of the current list
x.extend( 'Volvo')

In [379]:
x

['apple', 'banana', 'watermelon', 'cherry']

In [378]:
x.pop()

'V'

In [368]:
x.index('o')

5

In [381]:
#extend()	Add the elements of a list (or any iterable), to the end of the current list
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

In [382]:
fruits

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [384]:
x.sort()
x

['apple', 'banana', 'cherry', 'watermelon']

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [385]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [386]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [387]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020              #Duplicate values will overwrite existing values:


}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [388]:
print(len(thisdict))

3

In [389]:
type(thisdict)

dict

In [390]:
#The dict() Constructor

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [399]:
x = thisdict.get("model")
xthisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")

In [400]:
x

In [401]:
x = thisdict.keys()